{% extends "base.html" %}
{% block content %}

{% if form.errors %}
<div class="uk-width-1-1 uk-form-danger">Your username and password didn't match. Please try again.</div>
{% endif %}

<form method="post" action="{% url 'login' %}{% if next %}?next={{next}}{% endif %}">
  {% csrf_token %}

  <div>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
  </div>
  <div>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
  </div>

  <input type="submit" value="Login" /> {% if next != '/accounts/logout/' %}
  <input type="hidden" name="next" value="{{ next }}" /> {% endif %}
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p>
  <a href="{% url 'password_reset' %}">Lost password?</a>
</p>

{% endblock %}